
footer{
    height: 20vh;
    width: 100vw;
    margin: 0 0;
    padding: 0 0;
    color: #fff;
    background: #f36d10;
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-creds {
    padding: 10px 0;
    text-align: center;
    font-size:  25px;
    font-family: 'Lobster', cursive;

}
.footer-creds p{
    font-size: 14px;
    font-size: 20px;
}
.footer-creds span{
    opacity: .4;
    font-weight: 200;
}

.footer-icons{
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials-icons{
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    display: flex;
}

.socials-icons li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    color: #f36d10;
    background: #141418;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    transform: scale(1.75);
    animation-duration: 1s;
    animation-delay: 1s ease-in;
}

.socials-icons li:hover{
    border-radius: 100%;
    color: #141418;
    background: #fff;
    height: 2rem;
    width: 2rem;
}

p::selection{
    background-color: black;
    color: #fdc702;
}