html {
  scroll-behavior: smooth;
}

h2::selection{
  background-color: black;
  color: #fdc702;
}

section {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

p::selection{
  background-color: black;
  color: #fdc702;
}

.container-root{
  height: 100%;
  width: 100%;
}

.card-box {
  flex: 1;
	margin: 10px;
	display: flex;
	flex-direction: column;
  border-radius: 15px;
}

.card-content {
	width: 100%;
  height: 100%;
	background-color: #fff;
	border-radius: 15px;
  box-shadow:  6px 6px 12px #d3d3d3,
             -6px -6px 12px #ededed;
	padding: 20px;
  min-height: 20vh;
  min-width: 20vw;
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s ease-in;
}

.card-content:hover {
  transform: scale(1.015);
  transition: 0.2s ease-in;
}

.data {
  color: #59b300;
  font-size: 1rem;
}

.tag{
  color:#cc7a00;
  font-size: 1rem; 
}

.card-author {
	margin-top: 20px;
	margin-bottom: 10px;
}

.card-description {
	margin-bottom: 20px;
	margin-top: 20px;
  text-align: justify;
}

.card-author svg {
	width: 12px;
}

.count-odas{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  background: #141414;
  border-radius: 10px;
  margin: 10px;
  height: 5vh;
}

.count-odas p {
  margin: 20px auto;
}